<ion-header>
  <ion-navbar color="primary" style="background: rgba(0, 0, 0, 0) url('assets/Eyesoccer_files/h14.png') no-repeat scroll center center / cover ;transform: none;transform: none;contain: unset;">
    <ion-title>
      Eyeme
    </ion-title>
	<a (click)="memberPage()" class="clickable" style="color:black;font-weight:bold;position: absolute;bottom: 30%;right: 20px;" [hidden]="usernameview === null">
		{{usernameview}}
	</a>
	<a (click)="presentModal()" class="clickable" style="color:white;font-weight:bold;position: absolute;bottom: 30%;right: 20px;" [hidden]="usernameview !== null">
		DAFTAR
	</a>
  </ion-navbar>
</ion-header>

<!--<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let post of posts">
      <ion-img style="width:300px; height:300px" [src]="post.thumb1"></ion-img>
    </ion-item>
  </ion-list>
  
</ion-content>-->

<ion-content class="cards-bg">
<ion-list *ngFor="let post of posts">
  <ion-card>
	<ion-card-header style="padding:0">
	<ion-item>
      <ion-avatar item-start>
        <img [src]="post.pic" style="border: 1px solid black;"/>
      </ion-avatar>
      <h2 text-left>{{ post.name }}</h2>
	</ion-item>
	</ion-card-header>
	
	<div *ngIf="post.type_gallery == 'video'; then thenBlock else elseBlock"></div>
	<ng-template #thenBlock>
		<video controls="controls" class="videoPlayer" style="max-height:300px;">
		<source src="{{post.thumb1}}#t=0.1" type="video/mp4" />
		</video>
	</ng-template>
	<ng-template #elseBlock><div style="height: 300px;
    width: auto;
    background: green;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;"><img [src]="post.thumb1" style="width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;"/></div></ng-template>
	
    <!--<img [src]="post.thumb1"/>-->

    <ion-card-content>
      <ion-card-title>
        {{ post.title }}
      </ion-card-title>
      <!--<p>
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
      </p>-->
    </ion-card-content>

	<ion-row class="card-content-md">
		<ion-col>
		  <button ion-button color="primary" clear small icon-start [hidden]="usernameview === null" (click)="love(useremailview,post.id,post)" >
			<ion-icon name='star'></ion-icon>
			{{post.like}} Likes
		  </button>
		  <button ion-button color="primary" clear small icon-start [hidden]="usernameview !== null">
			<ion-icon name='star'></ion-icon>
			{{post.like}} Likes
		  </button>
		</ion-col>
		<ion-col>
		  <button ion-button color="primary" clear small icon-start (click)="presentModalComment(post.pic,post.name,post.type_gallery,post.thumb1,post.title,post.id)">
			<ion-icon name='text'></ion-icon>
			{{post.comment}} Comments
		  </button>
		</ion-col>
		<ion-col>
		  <!--<ion-note>
			11h ago
		  </ion-note>-->
		  <button ion-button color="primary" clear small icon-start>
			<ion-icon name='share'></ion-icon>
		  </button>
		</ion-col>
	</ion-row>

  </ion-card>
  </ion-list>
  </ion-content>
 
<ion-footer>
  
</ion-footer>