<ion-header>
  <ion-navbar color="primary" style="background: rgba(0, 0, 0, 0) url('assets/Eyesoccer_files/h14.png') no-repeat scroll center center / cover ;transform: none;transform: none;contain: unset;">
    <ion-title>
      Eyeme
    </ion-title>
  </ion-navbar>
</ion-header>

<!--<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let post of posts">
      <ion-img style="width:300px; height:300px" [src]="post.thumb1"></ion-img>
    </ion-item>
  </ion-list>
  
</ion-content>-->

<ion-content class="cards-bg">
<ion-list *ngFor="let post of posts">
  <ion-card>
	<ion-card-header style="padding:0">
	<ion-item>
      <ion-avatar item-start>
        <img [src]="post.pic" style="border: 1px solid black;"/>
      </ion-avatar>
      <h2 text-left>{{ post.name }}</h2>
	</ion-item>
	</ion-card-header>
	
	<div *ngIf="post.type_gallery == 'video'; then thenBlock else elseBlock"></div>
	<ng-template #thenBlock>
		<video controls="controls" class="videoPlayer">
		<source src="{{post.thumb1}}#t=0.1" type="video/mp4" />
		</video>
	</ng-template>
	<ng-template #elseBlock><img [src]="post.thumb1"/></ng-template>
	
    <!--<img [src]="post.thumb1"/>-->

    <ion-card-content>
      <ion-card-title>
        {{ post.title }}
      </ion-card-title>
      <!--<p>
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
      </p>-->
    </ion-card-content>

    <ion-row no-padding>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='heart'></ion-icon>
          Love
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='chatboxes'></ion-icon>
          Comment
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
  </ion-list>
  </ion-content>
 
<ion-footer>
  
</ion-footer>